<!DOCTYPE html>
<html lang="ja">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}Error.css" />
    <meta charset="UTF-8">
    <title>TubeCloud</title>

    <style>

        body {background-color: #719FB5;color:#000000;font-family: "Meiryo UI"}

        dev#text{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width:500px;
            height:50px;
            color:#C10000;
            text-align: center;
        }


    </style>
</head>
<body>
 <dev id="text">
 <p><h1>そのユーザーIDのアカウントは存在しません</h1></p>
 </dev>
</body>
</html>